# Dataframe Basics

In [ ]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark

- exectute this to get data about apache wget http://flossdata.syr.edu/data/apache/2016/2016-May/apache_people_projects.csv

In [ ]:
spark = SparkSession\
        .builder\
        .appName("Dataframe basics")\
        .getOrCreate()

- read .csv file as a dataframe
- spark object has read 
- format('csv')
- option chaining through option
- load('filename')

In [ ]:
df = spark.read.format("csv").option("header", "true").load("csvfile.csv")

- list columns

- check schema

- get a summary of dataframe

- select a column using df['colname']
- check the type of the object
- use df.select('age')

- show the head . Very similar to take of rdd

- rename a column using withColumnRenamed

- add a new column using withColumn

- run sql queries on your dataframe
- results = df.createOrReplaceTempView('names')
- new_results = spark.sql('select * from names')

- filtering out data
- using sql like syntax df.filter('a < 20')

- filter using spark dataframe syntax df.filter(df['name'] == 'David')

- filter based on multiple columns
- This will give an error df.filter(df['name'] == 'David' and df['state'] == 'AK')
- This will give an error df.filter(df['name'] == 'David' & df['state'] == 'AK')
- This will work df.filter((df['name'] == 'David') & (df['state'] == 'AK'))

- turn each row as a dictionary
- df.collect(1)[0].asDict()

- groupby and aggregate operations
- df.groupBy('colname').count().show()

- missing values

In [ ]:
x = spark